{{ inherits "layout" }}
{{ with .Article }}
			<h1>{{ .Title }}</h1>
			<p class="lead">{{ .PublishedAt | Format "2006.01.02" }}</p>
			{{ .MarshalHTML }}
	{{ if $.Logged }}
			<nav>
		{{ if .IsPublished }}
				<a href="/articles/{{ .Slug }}/unpublish" title="unpublish"><span class="fa fa-eye-slash"></span></a>
		{{ else }}
				<a href="/articles/{{ .Slug }}/publish" title="publish"><span class="fa fa-eye"></span></a>
		{{ end }}
				<a href="/articles/{{ .Slug }}/edit" title="edit"><span class="fa fa-pencil"></span></a>
				<a href="/articles/{{ .Slug }}/delete" title="delete"><span class="fa fa-trash-o"></span></a>
			</nav>
	{{ end }}
{{ end }}
