{{ define "view" }}
			<h1>New article</h1>
{{ if Errors }}
			<ul class="errors">
{{ range Errors }}
				<li>{{ . }}</li>
{{ end }}
			</ul>
{{ end }}
			<form method="POST">
				<input type="text" id="title" name="title" placeholder="Title" value="{{ Input.Get "title" }}" required>
				<input type="text" class="slug" data-target="#title" name="slug" placeholder="Slug" value="{{ Input.Get "slug" }}" required>
				<input type="text" name="tagline" placeholder="Tagline" value="{{ Input.Get "tagline" }}" required>
				<textarea name="text" rows="10" placeholder="Text">{{ Input.Get "text" }}</textarea>
				<input type="text" name="tags" placeholder="Tags" value="{{ Input.Get "tags" }}">
				<input type="submit" value="Create">
			</form>
{{ end }}
