<!DOCTYPE html>
<html>
	<body>
		<section>
			<!-- Basic tags used by the site -->
			<h1><a></a></h1>
			<p class="lead"></p>
			<p></p>
			
			<!-- Markdown induced styles -->
			<h2></h2>
			<h3></h3>
			<h4></h4>
			<h5></h5>
			<h6></h6>
			<p><a></a><code></code></p>
			<blockquote><p></p></blockquote>
			<ul>
				<li><code></code></li>
				<li>
					<p></p>
					<pre><code></code></pre>
				</li>
			</ul>
			
			<!-- Forms items used -->
			<form>
				<input type="text">
				<input type="password">
				<input type="submit">
				<textarea></textarea>
			</form>
			
			<pre><code>
			<span class="hljs hljs-comment hljs-quote hljs-keyword hljs-selector-tag hljs-subst hljs-number hljs-literal hljs-variable hljs-template-variable hljs-tag hljs-attr hljs-string hljs-doctag hljs-title hljs-section hljs-selector-id hljs-subst hljs-type hljs-class hljs-title hljs-tag hljs-name hljs-attribute hljs-regexp hljs-link hljs-symbol hljs-bullet hljs-built_in hljs-builtin-name hljs-meta hljs-deletion hljs-addition hljs-emphasis hljs-strong"></span>
			</code></pre>
		</section>
	</body>
</html>
