<!DOCTYPE html>
<html>
	<body>
		<section>
			<!-- Basic tags used by the site -->
			<h1><a></a></h1>
			<p class="lead"></p>
			<p></p>
			
			<!-- Markdown induced styles -->
			<p><a></a><code></code></p>
			<blockquote><p></p></blockquote>
			<ul>
				<li><code></code></li>
				<li>
					<p></p>
					<pre><code></code></pre>
				</li>
			</ul>
			
			<!-- Forms items used -->
			<form>
				<input type="text">
				<input type="password">
				<input type="submit">
				<textarea></textarea>
			</form>
			
			<!-- PrismJS classes -->
			<pre class="language-*">
				<code class="language-*">
					<span class="token comment prolog doctype cdata punctuation namespace property tag boolean number constant symbol deleted selector attr-name string char builtin inserted operator entity url style atrule attr-value keyword function regex important variable bold italic entity"></span>
				</code>
			</pre>
		</section>
	</body>
</html>
